{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block main %}

<div class="container">
    <div class="bg-light text-dark border p-3">
        <h1>Create Activity</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.name|as_crispy_field }}
            {{ form.start_time|as_crispy_field }}
            {{ form.end_time|as_crispy_field }}
            <button type="submit" class="btn btn-success mt-4">Create</button>
        </form>
    </div>
</div>
{% endblock main %}